[submodule "lib-ruby/cassowary"]
	path = lib-ruby/cassowary
	url = git://github.com/timfel/cassowary-ruby
[submodule "lib-ruby/deltablue"]
	path = lib-ruby/deltablue
	url = git://github.com/timfel/deltared.git
[submodule "dependencies/z3"]
	path = dependencies/z3
	url = https://github.com/Z3Prover/z3.git
